{% extends 'base.html.twig' %}

{% block title %}Pays index{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
    <h1>Pays index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pay in pays %}
            <tr>
                <td>{{ pay.id }}</td>
                <td>{{ pay.name }}</td>
                <td>
                    <a href="{{ path('pays_show', {'id': pay.id}) }}">show</a>
                    <a href="{{ path('pays_edit', {'id': pay.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('pays_new') }}">Create new</a>
            <br/>
        </div>
        <div class="col-lg-3"></div>
    </div>
</div>
{% endblock %}
